@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&family=Public+Sans&display=swap');
body {
    background-color:lavender;
    font-family: 'Noto Sans Display', sans-serif;
font-family: 'Public Sans', sans-serif;
    }
    .titoli{color: blueviolet;}